/* mixins */

@mixin horizontal-line ($height, $color) {
    width: 100%;
    height: $height;
    background-color: $color;
}

@mixin gwf($fonts...) {
  $url: "http://fonts.googleapis.com/css?family=";
  $nb: 0;
  
  @each $font-name in $fonts {
    $nb: $nb + 1;
    $nb-word: 0;
    
    @each $word in $font-name {
      $nb-word: $nb-word + 1;
      $url: $url + $word;
      
      @if $nb-word < length($font-name) {
        $url: $url + "+"; 
      } 
    }
    
    @if $nb < length($fonts) {
       $url: $url + "|"; 
    }
  }
  
  @import url(#{$url});
}