/* variables */

/*_variables.scss */

/* Body Text Styles */
$text-color: #333;
$base-font-size: 1em;
$base-font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
$base-font-weight: 400;

/* Header */
$page-header-height: 400px;

/* Widgets */
$widget-title-size: 1.5em;

/* Colors */
$color-grey-dark: #444444;
$color-grey-light: #eee;
$color-red: #a03f3e;
$color-yellow: #f8b226;